.container {
    margin: 0 auto;
    font-family: Ubuntu;
    font-style: normal;
    background-image: url(../img/Fon.png);
    background-size: cover;
    height: 100%;
}


/* header */

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    background: rgba(0, 0, 0, 0.4);
}

.hero {
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-logo {
    text-decoration: none;
    margin: 18px 0;
}

.hero-logo h1:hover {
    color: #236D47;
}

.hero-logo h1 {
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
}

.hero-right {
    display: flex;
    align-items: center;
}

.hero-right-icons-touch:hover .picture-path {
    fill: #236D47;
}

.hero-right-icons-touch {
    margin-left: 25px;
}

.hero-right-line {
    width: 1px;
    height: 19px;
    margin-left: 25px;
    margin-right: 27px;
    border: none;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
}

.hero-right-text {
    font-size: 14px;
    color: #FFFFFF;
}

.hero-right-text-log {
    text-decoration: none;
    font-size: 14px;
    color: #FFFFFF;
}

.hero-right-text-log:hover {
    color: #236D47;
}

.hero-right-text-sign {
    text-decoration: none;
    font-size: 14px;
    margin-left: 2px;
    color: #FFFFFF;
}

.hero-right-text-sign:hover {
    color: #236D47;
}


/* header */


/* main */

.main {
    display: flex;
    justify-content: center;
    height: calc(100% - 60px);
}

.main-box {
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.container-inner {
    width: 324px;
}

.main-box-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.main-box-top-left {
    font-size: 20px;
    color: #434343;
}

.main-box-top-left::before {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    right: 366px;
    clip-path: inset(0 0 0 0);
    background: #3CB878;
}

.main-box-top-right {
    text-decoration: none;
    font-size: 14px;
    color: #3CB878;
}

.main-box-top-right:hover {
    color: #01813F;
    border-bottom: 1px solid #01813F;
}

.main-box-click {
    display: flex;
    justify-content: space-between;
}

.face {
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 160px;
    height: 48px;
    background: #305DB8;
    border-radius: 4px;
}

.face:hover {
    background: #022263;
}

.face-picture {
    width: 13px;
    height: 24px;
    margin: 0 16px 0 19px;
}

.face-text {
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 18px;
}

.googl {
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 160px;
    height: 48px;
    background: #DF4A32;
    border-radius: 4px;
}

.googl:hover {
    background: #AB1F09;
}

.googl-picture {
    width: 30px;
    height: 19px;
    margin: 0 10px 0 7px;
}

.googl-text {
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 30px;
}

.line {
    width: 1px;
    height: 28px;
    border: none;
    margin-left: 0;
    margin-right: 0;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.main-box-alttext {
    position: relative;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #848484;
}

.main-box-alttext::before {
    position: absolute;
    content: '';
    width: 152px;
    height: 1px;
    border-bottom: 1px solid #F2F2F2;
    top: 50%;
    right: 170px;
}

.main-box-alttext::after {
    position: absolute;
    content: '';
    width: 152px;
    height: 1px;
    border-bottom: 1px solid #F2F2F2;
    top: 50%;
    left: 170px;
}

.main-box-forma-input {
    width: 324px;
    height: 46px;
    margin-top: 10px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    /* border: none; если нужно совсем убрать*/
    opacity: 0.5;
}

.main-box-forma-input:focus {
    background: #FFFFFF;
    outline: 0;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    opacity: 1;
    font-size: 14px;
    color: #434343;
}

.main-box-forma-input::placeholder {
    font-size: 14px;
    color: #BEBEBE;
}

.main-box-forma-lable {
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #434343;
}

.forma-btn {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background: #ffffff;
    border: 1px solid #F2F2F2;
}

.forma-checkmark {}

.forma-link {
    text-decoration: none;
    margin-left: 3px;
    color: #3CB878;
}

.forma-link:hover {
    color: #01813F;
    border-bottom: 1px solid #01813F;
}

.main-box-forma-submit {
    width: 324px;
    height: 46px;
    font-size: 16px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border-color: transparent;
    color: #FFFFFF;
    cursor: pointer;
}


/* main */