.container {
    width: 100%;
    margin: 0 auto;
    font-family: Open Sans;
    font-style: normal;
}

.container-block {
    width: 1170px;
    margin: 0 auto;
}


/* header */

.hero-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #313131;
}

.hero-top-logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 69px;
}

.hero-top-logo-picture {
    margin: 0 27px;
}

.hero-top-logo-name {
    display: flex;
    align-items: center;
}

.hero-top-logo-name {
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
}

.hero-top-menu-ul {
    display: flex;
    list-style: none;
}

.hero-top-menu-ul li {
    margin-right: 35px;
}

.hero-top-menu-ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
}

.hero-top-menu-ul li a:hover {
    color: #14B9D5;
    ;
}

.hero-top-search {
    padding: 26px;
    background: #000000;
}

.hero-bottom {
    height: 369px;
    background-image: url(../img/hero/header-bg.jpeg );
    background-size: cover;
    background-attachment: fixed;
    background-position: 100% 90%;
}

.hero-bottom-title {
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    margin-top: 0;
    padding-top: 164px;
    color: #FFFFFF;
}

.hero-bottom-buttons {
    text-align: center;
    margin-top: 44px;
}

.hero-bottom-buttons-left {
    background-color: #89CA62;
    font-weight: 600;
    font-size: 18px;
    padding: 16px 19px;
    margin-right: 20px;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
}

.hero-bottom-buttons-right {
    background-color: #14B9D5;
    font-weight: 600;
    font-size: 18px;
    padding: 16px 30px;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
}


/* header */


/* main */


/* main post */

.post {
    height: 1030px;
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 27px;
    margin-top: 0;
    margin-bottom: 52px;
    padding-top: 49px;
    color: #18B4CF;
}

.post-posts {
    height: 890px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}

.post-posts-box {
    width: calc((100% / 3) - 20px);
    margin-bottom: 30px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.post-posts-box h3 {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
    color: #353A3D;
}


/* main post */


/* main clients,photos */

.clients {
    height: 588px;
    background-image: url(../img/main/parallax-bg.jpeg);
    background-attachment: fixed;
    background-position: center;
    display: grid;
    justify-content: center;
    grid-template-areas: "clients-title" "clients-line" "clients-logos";
    grid-template-rows: 152px 196px 1fr;
    grid-template-columns: 1900px;
}

.clients-title {
    text-transform: uppercase;
    display: grid;
    justify-items: center;
    align-items: end;
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;
}

.clients-line {
    width: 60px;
    height: 3px;
    margin-top: 87px;
    background-color: #18B4CF;
    border-color: transparent;
}

.clients-logos {
    height: 52px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 55px;
    justify-content: center;
    align-items: center;
}

.photos {
    height: 275px;
    background: #FFFFFF;
}

.photos-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    margin: 50px auto;
    color: #18B4CF;
}

.photos-photo {
    display: grid;
    grid-auto-flow: column;
    margin-bottom: 49px;
}

.photos-photo img {
    height: 190px;
    width: 100%;
}


/* main clients,photos */


/* main news */

.news {
    background: #FFFFFF;
}

.news-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    margin-top: 0;
    margin-bottom: 51px;
    padding-top: 48px;
    color: #18B4CF;
}

.news-unit {
    margin-bottom: 71px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 45px;
    grid-column-gap: 35px;
}

.news-unit-topL {
    grid-column: 1 / 4;
    width: 856px;
    height: 259px;
    display: grid;
    grid-template: 64px 1fr / 1fr 1fr;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news-unit-bottomR {
    grid-column: 2 / 5;
    width: 856px;
    height: 259px;
    display: grid;
    grid-template: 64px 1fr / 1fr 1fr;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.horizont img {
    grid-row: 1/span 2;
}

.horizont h3 {
    text-align: right;
    margin-right: 24px;
    margin-top: 40px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
}

.horizont p {
    text-align: right;
    margin-top: 15px;
    margin-right: 24px;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}

.news-unit-middleL {
    grid-column: 1/ 3;
    width: 554px;
    height: 418px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news-unit-middleR {
    grid-column: 3/ 5;
    width: 554px;
    height: 418px;
    justify-self: end;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news-unit-Lmiddle {
    grid-column: 1/ 3;
    width: 554px;
    height: 418px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news-unit-Rmiddle {
    grid-column: 3/ 5;
    width: 554px;
    height: 418px;
    justify-self: end;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.fat img {
    grid-row: 1;
    grid-column: 1;
}

.fat h3 {
    grid-row: 2;
    grid-column: 1;
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    margin-top: 14px;
    line-height: 25px;
    margin-right: 13px;
    color: #353A3D;
}

.fat p {
    grid-row: 3;
    grid-column: 1;
    text-align: right;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}

.news-unit-topR {
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news-unit-bottomL {
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.pin img {}

.pin h3 {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-top: 5px;
    margin-bottom: 0;
    color: #353A3D;
}


/* main news */


/* main */


/* footer */

.ground {
    background: #000000;
}

.ground-info {
    height: 80px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
}

.ground-info-sign {
    font-size: 13px;
    color: #FFFFFF;
}

.ground-info-logo {
    text-decoration: none;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.ground-info-logo-text {
    height: 28px;
    font-weight: 900;
    font-size: 20px;
    color: #FFFFFF;
}


/* footer */