.container {
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    font-family: Roboto;
    font-style: normal;
    background-image: url(../img/background-container.png);
    display: grid;
    justify-content: center;
    grid-template-areas: "hero" "main" "footer";
    grid-template-rows: 103px 1fr 40px;
    grid-template-columns: 1028px;
    grid-gap: 15px;
}


/* header */

.hero {
    grid-area: hero;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.hero-left {
    text-decoration: none;
    height: 47px;
    margin-bottom: 5px;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.hero-left img {
    margin-bottom: 3px;
}

.basic-logo {
    position: absolute;
}

.hov-logo {
    visibility: hidden;
}

.hero-left:hover .basic-logo {
    visibility: hidden;
}

.hero-left:hover .hov-logo {
    visibility: visible;
}

.hero-left:hover h1 {
    color: #F26522;
}

.hero-left h1 {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 29px;
    margin-left: 8px;
    margin-bottom: 0;
    color: #FFFFFF;
}

.hero-left h1 span {
    font-size: 18px;
}

.hero-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hero-right-email {
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
}

.hero-right-tel {
    display: inline;
    margin-top: 19px;
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
}

.hero-right a:hover {
    color: #F26522;
}


/* header */


/* main */

.main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-tours {
    width: 300px;
    text-align: center;
}

.main-tours a {
    text-decoration: none;
}

.main-tours a:hover .main-tours-name {
    color: #F26522;
}

.main-tours a .main-tours-name:hover .details {
    visibility: visible;
}

.main-tours a .main-tours-name:hover {
    color: #F26522;
}


/* .main-tours a:hover .details {
    visibility: visible;
    height: 55px;
} оставил себе , как пример*/

.main-tours a:hover .details {
    transition: 0.3s;
    transform: scaleY(1);
}

.main-tours a:hover .details-right {
    visibility: visible;
    transition-delay: 0.1s;
}

.main-tours a:hover .details-left-top {
    visibility: visible;
    transition-delay: 0.1s;
}

.main-tours a:hover .details-left-price {
    visibility: visible;
    transition-delay: 0.1s;
}

.main-tours-picture {
    /* position: relative; для красивой градиентной рамки*/
    height: 220px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
}

.details {
    /* position: absolute;
    width: 292px;
    height: 55px;
    bottom: -1px;
    right: -1px; для красивой градиентной рамки*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #F26522;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    margin: 0;
}


/* .details {
    width: 100%;
    height: 0;
    display: flex;
    justify-content: space-between;
    background: #F26522;
    visibility: hidden;
    transition: height 0.3s cubic-bezier(1, 1, 1, 1) 0s;
} оставил себе , как пример*/

.details-left {
    margin-left: 16px;
    text-align: start;
}

.details-left-top {
    font-size: 10px;
    margin: 8px 0 5.5px 0;
    color: #FFFFFF;
    visibility: hidden;
}

.details-left-price {
    font-size: 20px;
    margin: 0;
    color: #FFFFFF;
    visibility: hidden;
}

.details-right {
    height: 55px;
    text-align: end;
    visibility: hidden;
}

.details-right-text {
    display: inline-block;
    font-size: 14px;
    margin: 29px 0 0 0;
    color: #FFFFFF;
}

.details-right-text::after {
    display: inline-block;
    content: '';
    width: 5px;
    height: 10px;
    margin: 0 16px;
    clip-path: polygon(28% 0, 100% 50%, 28% 100%, 22% 91%, 80% 50%, 22% 9%);
    background: #FFFFFF;
}

.main-tours-name {
    display: inline;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
}

.LT {
    background: url(../img/Shopping.png);
}

.MT {
    background: url(../img/Sightseeing.png);
}

.RT {
    background: url(../img/food.png);
}

.LB {
    background: url(../img/nightlife.png);
}

.MB {
    background: url(../img/art.png);
}

.RB {
    background: url(../img/walking.png);
}

.Grad {
    /* border: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to top, #FFFFFF, #000); для красивой градиентной рамки*/
    outline: 7px groove #E0E0E0;
    outline-offset: 0;
}


/* main */

.footer {
    grid-area: footer;
    text-align: center;
}

.footer p {
    font-size: 12px;
    color: #FFFFFF;
}