* {
    padding: 0;
    margin: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
    font-family: Montserrat;
    font-style: normal;
}


/* header */

.hero-nav {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2.7px;
}

.hero-nav-ul li {
    display: inline-block;
    list-style: none;
}

.hero-nav-ul li a {
    text-decoration: none;
    margin-right: 72px;
    color: #FF0000;
}

.hero-nav-ul-first {
    margin-left: 72px;
}


/* header */


/* main */

.main-img {
    width: 100%;
}

.main-h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 3.3px;
    margin-top: 49px;
}

.main-text {
    text-align: center;
    font-size: 16px;
    letter-spacing: 2.4px;
    margin: 38px 68px 66px 68px;
}

.main-text p {
    padding-bottom: 28px;
}

.main-button {
    text-align: center;
}

.main-button-text {
    background-color: #FF0000;
    font-weight: bold;
    font-size: 12px;
    padding: 18px 43px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 4px;
}


/* main */


/* footer */

.footer-text {
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2.4px;
    margin-top: 82px;
    margin-right: 105px;
    margin-bottom: 29px;
}


/* footer */