body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-family: News Cycle;
    font-style: normal;
    color: rgba(226, 185, 0, 0.959);
    background-color: #000;
}

.titles {
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 350%;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(20deg);
}

.titles:after {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 50%;
    background-image: linear-gradient(top, rgba(0, 0, 0, 1) 0%, transparent 100%);
}

.titlecontent {
    position: absolute;
    text-align: center;
    top: 100%;
    animation: scroll 30s ease-in -3s infinite;
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -10%;
    }
}