.container {
    width: 1280px;
    margin: 0 auto;
    font-family: Roboto;
    font-style: normal;
}


/* header */

.hero-h1 {
    text-decoration: none;
    font-size: 80px;
    color: #000;
}

.hero-h1-text {
    color: #4bcaff;
}

.hero-nav {
    height: 69px;
    margin-top: 38px;
    margin-bottom: 50px;
    background: #35444F;
}

.hero-nav-ul {
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.hero-nav li:hover {
    background: #222F3A;
}

.hero-nav li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    height: 69px;
    margin: 0 32px;
}

.hero-nav-line {
    border-left: 1px solid white;
}


/* header */


/* main */

.main {
    display: flex;
}

.aside-menu {
    border: 1px solid #000;
    width: 344px;
    height: 398px;
}

.aside-menu-ul {
    width: 342px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 27px;
}

.aside-menu-ul li a {
    display: block;
    padding: 23px 44px;
    text-decoration: none;
    color: #485863;
    border: 1px solid transparent;
    background-color: #fff;
    border-bottom: none;
}

.aside-menu-ul li a:hover {
    display: block;
    text-align: center;
    border-bottom: 1px solid #DBDBDB;
    background: #DBDBDB;
}

.main-section {
    width: 885px;
    margin-left: 52px;
}

.main-section-pic {
    border: 1px solid #000;
    height: 529px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scale {
    transition: 1s;
}

.scale:hover {
    transform: scale(1.3);
}

.main-section-text {
    font-size: 18px;
    padding-bottom: 34px;
    margin-top: 37px;
}


/* main */


/* footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
}

.footer-nav-ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 928px;
}

.footer-nav-ul li a {
    text-decoration: none;
    font-size: 28px;
    color: #0C1927;
}

.footer-nav-ul li a:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.footer-text {
    font-size: 24px;
    margin-right: 40px;
}


/* footer */